# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/
env/

# Secrets
.env

# VS Code
.vscode/

# Generated documents
llm/documents/complaints/*.txt
llm/documents/maintenance/*.txt

# Generated csv 
data/*.csv