# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/
env/

# Secrets
.env

# VS Code
.vscode/

# Generated documents
simulator/LLM/documents/complaints/*.txt
simulator/LLM/documents/maintenance/*.txt

# Generated csv 
data/*.csv

vector_store/

assets/*

database/